<!DOCTYPE html>

<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <img id="profile" src="/img/profile.jpg" alt="profile">
    <h3>
        Hey, I am Nitish Kumar Gupta.
    </h3>
    <p>
        I am currently in my final year of B. Tech at LNMIIT. This website was created as part of the <a
            href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/"
            target="_blank">
        Udemy </a>
        node.js course.
    </p>
</div>
{{>footer}}
</body>
</html>